@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

/* Add custom font family to Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color:#f8fafc;
}

.font-geist {
  font-family: 'Geist', sans-serif;
}

.spinner {
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-top: 2px solid white;
    border-radius: 50%;
    width: 1em;
    height: 1em;
    animation: spin 0.6s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* client/src/styles.css */
.scrollbar-space {
  padding-right: 15px; /* Adjust this value based on your scrollbar width */
  overflow-y: scroll; /* Enable vertical scrolling but keep it disabled */
}

/* Optional: Style the scrollbar to be hidden */
.scrollbar-space::-webkit-scrollbar {
  width: 15px; /* Width of the scrollbar */
}

.scrollbar-space::-webkit-scrollbar-thumb {
  background: transparent; /* Make the scrollbar thumb transparent */
}

.scrollbar-space::-webkit-scrollbar-track {
  background: transparent; /* Background of the scrollbar track */
}